.site-header {
  position: sticky;
  top: 0;
  padding: 20px 40px;
  background: black;
  z-index: 100;
}

.nav {
  display: flex;
  gap: 40px;
  justify-content: flex-start;

}

.nav-link {
  font-family: "jeanne-moderno", serif;
  font-size: 3 rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F4C2C2;
  text-decoration: none;
  opacity: 0.85;
  transition: opacity 0.3s ease;
  position: relative;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: #F4C2C2;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}


body {
  margin: 0;
  background: black;
  color: pink;
  font-family: "jeanne-moderno", serif;
  text-align: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
}

.headache {
  width: 400px;
  margin-bottom: 40px;
  margin-top: -60px;
}

.about-text {
  max-width: 900px;      
  font-size: 1.3rem;     
  line-height: 1.7;      
  letter-spacing: 0.02em;
  opacity: 0.9;
  margin-top: -35px;
}


.contact-info {
  margin-top: -20px;
  font-size: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.contact-info a {
  color: #F4C2C2;
  transition: opacity 0.3s ease;
}

.contact-info a:hover {
  opacity: 0.4;
}

.contact-info span {
  margin: 0 10px;
}
