
.site-header {
  position: sticky;
  top: 0;
  padding: 20px 40px;
  background: black;
  z-index: 100;
}

.nav {
  display: flex;
  gap: 40px;
  justify-content: flex-start;

}

.nav-link {
  font-family: "jeanne-moderno", serif;
  font-size: 3 rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F4C2C2;
  text-decoration: none;
  opacity: 0.85;
  transition: opacity 0.3s ease;
  position: relative;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: #F4C2C2;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}



body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: "jeanne-moderno", serif;
  text-align: center;
}

@keyframes headerGlow {
    0% {
        text-shadow: 0 0 5px #F4C2C2, 0 0 10px #F4C2C2;
    }
    50% {
        text-shadow: 0 0 20px #FF69B4, 0 0 40px #FF69B4;
    }
    100% {
        text-shadow: 0 0 5px #F4C2C2, 0 0 10px #F4C2C2;
    }
}

header h1 {
  font-size: 4rem;
  margin: 40px 0;
  color: #F4C2C2;
  margin-bottom: -30px;
  animation: headerGlow 1.5s ease-in-out infinite alternate;

}

.B1 {
    width: 1300px;
    position: flex;
}

.B2 {
     width: 1300px;
    position: flex;
}
