.site-header {
  position: sticky;
  top: 0;
  padding: 20px 40px;
  background: black;
  z-index: 100;
}

.nav {
  display: flex;
  gap: 40px;
  justify-content: flex-start;

}

.nav-link {
  font-family: "jeanne-moderno", serif;
  font-size: 3 rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #F4C2C2;
  text-decoration: none;
  opacity: 0.85;
  transition: opacity 0.3s ease;
  position: relative;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: #F4C2C2;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}


body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: "jeanne-moderno", serif;
  text-align: center;
}

@keyframes headerGlow {
    0% {
        text-shadow: 0 0 5px #F4C2C2, 0 0 10px #F4C2C2;
    }
    50% {
        text-shadow: 0 0 20px #FF69B4, 0 0 40px #FF69B4;
    }
    100% {
        text-shadow: 0 0 5px #F4C2C2, 0 0 10px #F4C2C2;
    }
}

header h1 {
  font-size: 4rem;
  margin: 40px 0;
  color: #F4C2C2;
  letter-spacing: 3px;
  margin-bottom: -100px;
  animation: headerGlow 1.5s ease-in-out infinite alternate;
  margin-bottom: -5px;
}

.motion-section {
  max-width: 1200px;
  margin: 60px auto;
  margin-top: -20px;
  gap: 0px;
  text-align: center;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.section-content.right-video .info-image {
  order: 1;
}

.section-content.right-video a.video-link:first-of-type {
  order: 2;
}

.section-content.left-video .info-image {
  order: 2;
}

.section-content.left-video a.video-link:first-of-type {
  order: 1;
}

.info-image {
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.video-link {
  display: inline-block;
  width: 80%;
  max-width: 500px;
  padding: 18px 24px;
  margin-bottom: 20px;

  font-family: "jeanne-moderno", serif;
  font-size: 1.1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: black;
  background: #F4C2C2;
  border-radius: 15px;
  text-decoration: none;

  transition: transform 0.3s ease, opacity 0.3s ease;
}

.video-link:hover {
  transform: scale(1.02);
  opacity: 0.85;
}
